body {
    background-color: #edeef0;
    display: grid;
    justify-content: center;
    min-height: 100%;
    grid-template-areas:
    "m"
    "hr"
    "l"
    "f";
}

.menu{
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-area: m;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.menu-icons{
    width: 5%;
    filter: invert(60%) sepia(16%) saturate(452%) hue-rotate(233deg) brightness(103%) contrast(85%);
    /* #ab97b8 */
}

.menu-icons-user{
    width: 5%;
    filter: invert(89%) sepia(3%) saturate(8%) hue-rotate(17deg) brightness(80%) contrast(92%);


    /* #b3b3b3 */
}

hr {
    grid-area: hr;
    border: 0;
    clear:both;
    display:block;
    width: 80%;
    background-color: black;
    height: 1px;
}

form{
    grid-area: l;
    display: flex;
    flex-direction: column;
}

.login{
    font-family: Verdana sans-serif;
    color: rebeccapurple;
}

.input-field{
    position: relative;
    margin-top: 2rem;
}

.input-field input{
    padding: 0.8rem;
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
}

form button[type="submit"]{
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
}

footer{
    grid-area: f;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

footer > p{
    font-size: 0.7rem;
    color: white;
}

.impressum{
    font-size: 0.5rem;
}